.container-out {
  width: 100%;
}

.home-container {
  position: fixed;
  top: 100px;
  text-align: center;
  width: 100%;
}
.home-link {
  margin-top: 20px;
  padding: "10px 4px";
  margin-bottom: 15px;
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0 20px;
}

.home-link:hover {
  background-color: rgb(4, 4, 59);
  color: white;
  border-radius: 2px;
}
