.darkmode {
  background-color: azure;
  color: black;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding: 15px 50px;
}

.nodarkmode {
  padding: 15px 50px;
  background-color: rgb(5, 5, 77);
  color: azure;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.nav-link {
  text-decoration: none;
  background-color: white;
  color: rgb(5, 5, 77);
  border-radius: 5px;
  transition: transform 250ms;
}

.nav-link:hover {
  background-color: rgb(135, 194, 221);
  color: white;
  transform: translateY(-2px);
}

.nav-link.logout {
  text-decoration: none;
  background-color: white;
  color: rgb(5, 5, 77);
  border-radius: 5px;
  transition: transform 250ms;
}

.nav-link.logout:hover {
  background-color: rgb(135, 194, 221);
  color: white;
  transform: translateY(-2px);
}
